@model AuctionsModel.Auction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="/ShowImage.ashx?id=@Model.ID" alt="ImageNotAvailable" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OppenedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OppenedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>


    </dl>
</div>


<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Tokens Offered
        </th>
        <th>
            Time
        </th>
        <th></th>
    </tr>

    <h4>Bids:</h4>
    @foreach (var bid in Model.Bids)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => bid.AspNetUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => bid.TokensOffered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => bid.TimeOfBidding)
            </td>
        </tr>
    }

</table>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

