@model IEnumerable<AuctionsModel.TokenOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Token Orders</h2>

@if (ViewBag.User != null)
{
    <text>
        Token balance: @ViewBag.User.TokenBalance
    </text>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TokenCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (ViewBag.User == null || item.AspNetUser.Id != ViewBag.User.Id)
    {
        continue;
    }

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TokenCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>

        <td>
            @if (item.State != "COMPLETED") { 
                <a id="c-mobile-payment-widget" href="http://stage.centili.com/payment/widget?apikey=7c1f43204c13d5f3e95e15019d012d88&country=rs&reference=@item.ID&returnurl=http://auctions20180708042230.azurewebsites.net/TokenOrders&price=@item.Price"><img src="https://www.centili.com/images/centili-widget-button.png" /></a>
            }
        </td>
    </tr>
}

</table>
